:root {
    --main-bg-color: #EC9CD3;
    --main-border-radius: 10px;
  }

.content-wrapper {
    margin: 3rem;
}

.board-header {
    text-align: center;
    color: var(--main-bg-color);
    margin-bottom: 40px;
}

.form-control {
    border-radius:  var(--main-border-radius);
}

.table {
    text-align: center;
}

a {
    text-decoration: none;
}

td a {
    color: black;
}

.form-select {
    border-radius: var(--main-border-radius);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='violet' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

.form-select:focus {
    box-shadow: none;
}

.bg-primary {
    background-color: white !important;
    border: gray solid 1px;
}

.btn-primary {
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: var(--main-border-radius);
}

.btn-check:focus, .btn-primary:hover {
    background: white;
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: var(--main-border-radius);
}

.btn-primary a {
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.platform-select {
    margin-right: 3px;
}

.board-title {
    width: 60%;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.small-btn {
    padding: .1rem 0.375rem;
}

.left-btn {
    margin-right: 3px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    color: var(--main-bg-color);
    border: 0;
}

.page-link:focus {
    background-color: white;
    color: var(--main-bg-color);
}

.page-link:hover {
    background-color: var(--main-bg-color);
    color: white;
}

/* board Detail */

.detail-title {
    border-bottom: 1px solid #DBD5D5;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.detail-platform, .detail-webtoon-title {
    color: gray;
}

.detail-webtoon-title {
    padding-right: 12px;
}

.detail-content {
    height: 320px;
}

.detail-comment {
    border-top: 1px solid #DBD5D5;
}

.comment-table {
    display: flex;
    justify-content: space-between;
}

.comment-writer {
    flex-grow: 1;
}

.comment-content {
    flex-grow: 5;
}

.create-comment {
    border: 1px solid #DBD5D5;
    width: 100%;
    padding: 0.5rem;
}

.comment-textarea {
    border-radius:  var(--main-border-radius);
    width: 98%;
    border: 0;
}

.wrap-btn {
    display: flex;
    justify-content: flex-end;
}

/* boardCreate */

.header-create {
    display: flex;
    justify-content: flex-start;
}

.create-input {
    background-color: #F9F4F4;
    border-width: 0px;
}

.create-post {
    height: 320px;
    border-radius:  var(--main-border-radius);
    width: 98%;
    border: 0;
}

@media screen and (max-width: 700px) {
    td, .page-link, .small-btn, .platform-select, .webtoon-select {
        font-size: 0.75rem;
    }
    .search-group {
        visibility: hidden;
    }
    .small-btn {
        padding: 0.02rem 0.02rem;
    }
    .form-select-sm {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: .25rem;
        height: 80%;
    }
  }

  @media screen and (max-width: 700px) {
    .detail-platform, .detail-webtoon-title {
        visibility: none;
    }
    .comment-textarea {
        width: 92%;
    }
  }