:root {
    --main-bg-color: #EC9CD3;
    --main-border-radius: 10px;
  }

a {
    text-decoration: none;
}

.content-wrapper {
    margin: 3rem;
}

.board-header {
    text-align: center;
    color: var(--main-bg-color);
    margin-bottom: 40px;
}

.form-control {
    border-radius:  var(--main-border-radius);
}

.table {
    text-align: center;
}

.board-group:hover {
    cursor: pointer;
    background-color: rgba(177, 230, 147, 0.5);
}

a {
    text-decoration: none;
}

td a {
    color: black;
}

.form-select {
    border-radius: var(--main-border-radius);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='violet' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

.form-select:focus {
    box-shadow: none;
}

.bg-primary {
    background-color: white !important;
    border: gray solid 1px;
}

.btn-secondary {
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: var(--main-border-radius);
}

.btn-check:focus, .btn-secondary:hover {
    background: white;
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: var(--main-border-radius);
}

.btn-secondary a {
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.platform-select {
    margin-right: 3px;
}

.board-title {
    width: 50%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.small-btn {
    padding: .1rem 0.375rem;
}

.left-btn {
    margin-right: 3px;
}

.loading {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}

/* board Detail */

.board-arrow {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: gray;
}

.board-arrow img {
    height: 5vh;
    transform: scaleX(-1);
}

.board-arrow:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pat-bottom {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.detail-title {
    border-bottom: 1px solid #DBD5D5;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.detail-platform, .detail-webtoon-title {
    color: gray;
}

.detail-webtoon-title {
    padding-right: 12px;
}

.small-btn {
    padding: 0.2rem 1rem;
}

.detail-content {
    height: 320px;
}

.detail-comment {
    border-top: 1px solid #DBD5D5;
}

.comment-table {
    display: flex;
    justify-content: space-between;
}

.comment-writer {
    flex-grow: 1;
}

.comment-content {
    flex-grow: 5;
}

.create-comment {
    border: 1px solid #DBD5D5;
    width: 100%;
    padding: 0.5rem;
}

.comment-textarea {
    border-radius:  var(--main-border-radius);
    width: 98%;
    border: 0;
}

.wrap-btn {
    display: flex;
    justify-content: flex-end;
}

.comment-textarea {
    resize: none;
}

/* 모달 */
.password-modal-none {
    display: none;
}

.password-modal {
    position: fixed;
    top: 0;
    left: 0;
}

.pw-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pw-modal-body {
    padding: 2rem 3rem;
}

.pw-modal-body input {
    font-size: 2rem;
    height: 2rem;
}

.pw-modal-btn {
    background-color: #B1E693;
    border: 1px solid #B1E693;
}

.pw-modal-btn:hover {
    background: white;
    color: #B1E693;
    border: 1px solid #B1E693;
}

/* boardCreate */

.header-create {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.platform-select {
    width: auto;
    margin-right: 2rem;
}

.selectboxs {
    width: 98%;
    display: flex;
    justify-content: flex-start;
}

.create-search img {
    height: 1.5rem;
}

.create-webtoon {
    width: auto;
}

.create-input {
    background-color: #F9F4F4;
    border-width: 0px;
    resize: none;
    margin-right: 1rem;
}

.create-title {
    width: 98%;
    margin: 1rem 0 !important;
}

.create-post {
    height: 320px;
    border-radius:  var(--main-border-radius);
    width: 98%;
    border: 0;
}

.create-bottom {
    display: flex;
    width: 98%;
    align-items: flex-end;
    justify-content: space-between;
}

.cu-btn {
    padding: 0 1rem;
    margin: 0 0.3rem;
}

a {
    margin: 0;
}

.create-nickname,
.create-password {
    margin: 0 1rem;
}

/* 모달 */
.create-modal-none {
    display: none;
}

.create-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.c-modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-modal-bg .modal-content {
    width: 40vw;
}

.c-modal-body {
    padding: 2rem 3rem;
}

.c-modal-body input {
    font-size: 1rem;
    height: 2rem;
    width: 100%;
    margin: 1rem 0;
}

.c-modal-wetoons {
    height: 40vh;
    overflow-y: auto;
}

.bc-modal-title {
    margin: 0.5rem;
    padding: 0 1rem;
}

.bc-modal-title:hover {
    cursor: pointer;
    background-color: rgba(236, 156, 211, 0.5);
}

.c-modal-btn {
    background-color: #B1E693;
    border: 1px solid #B1E693;
}

.c-modal-btn:hover {
    background: white;
    color: #B1E693;
    border: 1px solid #B1E693;
}

@media screen and (max-width: 700px) {
    td, .page-link, .small-btn, .platform-select, .webtoon-select {
        font-size: 0.75rem;
    }
    .search-group {
        visibility: hidden;
    }
    .small-btn {
        padding: 0.02rem 0.02rem;
    }
    .form-select-sm {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: .25rem;
        height: 80%;
        width: 7rem;
    }
    .btns button a {
        padding: 0 1rem;
    }
    .board-date {
        display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .detail-platform, .detail-webtoon-title {
        visibility: none;
    }
    .comment-textarea {
        width: 92%;
    }
    .detail-title {
        flex-direction: column;
    }
    .platform-and-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pat-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .selectboxs {
        flex-direction: column;
    }
    .platform-select {
        margin: 0;
        margin-bottom: 1rem;
    }
    .create-webtoon {
        width: 7rem;
        margin-left: 0 !important;
    }
    .create-nickname, 
    .create-password {
        margin: 0.5rem 0;
    }
    .cu-btn {
        padding: 0 0.5rem;
        margin: 0 0.3rem
    }
    .create-bottom {
        align-items: center;
    }
    .btns {
        margin-top: 0!important;
        flex-direction: column;
    }
  }