.nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  height: 10vh;
}

.nav-logo {
  margin: 2rem 0 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #6ECB63;
  font-family: 'drfont_daraehand';
}

#nav-dropdown-basic {
  color: #C4C4C4;
  margin-right: 3rem;
}

#nav-dropdown-basic::after {
  display: none;
}

.dropdown-menu {
  border-radius: 10px !important;
  border: 2px solid #B1E693 !important;
}

.logo {
  text-decoration: none;
}

.logo img {
  height: 10vh;
}

/* 반응형 */
@media (max-width: 768px) {
  .nav {
    height: 10vh;
  }
  
  .nav-logo {
    margin: 1rem 0 1rem 3rem;
    font-size: 1.5rem;
  }

  #nav-dropdown-basic {
    margin-right: 3rem;
    padding-right: 0;
  }

  .logo img {
    height: 8vh;
  }
}

@media (max-width: 576px) {
  .nav-logo {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.25rem;
  }

  #nav-dropdown-basic {
    margin-right: 1rem;
    padding-right: 0;
  }
}